<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>배송지 수정</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>배송지 수정</h1>
    <form method="post" th:action="@{/order_list/update/{userAddressId}(userAddressId=${userAddress.id})}">
        <div class="form-group">
            <label for="streetAddress">주소</label>
            <input type="text" class="form-control" id="streetAddress" name="streetAddress"
                   th:value="${userAddress.streetAddress}">
        </div>
        <div class="form-group">
            <label for="detailedAddress">상세 주소</label>
            <input type="text" class="form-control" id="detailedAddress" name="detailedAddress"
                   th:value="${userAddress.detailedAddress}">
        </div>
        <input type="hidden" name="userId" th:value="${userId}">
        <input type="hidden" name="orderListId" th:value="${order_list_id}">
        <button type="submit" class="btn btn-primary">저장</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
