<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>주문 상세보기</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <!-- jQuery library 추가 -->
    <link rel="stylesheet" href="/static/css/order_detail.css">
    <!-- 부트스트랩 링크 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            crossorigin="anonymous"></script>

    <style>
        h1, h2 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }

        th, td {
            padding: 8px;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center my-4">주문 상세보기</h1>
    <h2>주문날짜:<b th:text="${order_list.orderDate}"> </b></h2>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">상품이미지</th>
            <th scope="col">상품명</th>
            <th scope="col">수령인</th>
            <th scope="col">배송지</th>
            <th scope="col">전화번호</th>
            <th scope="col">구매개수</th>
            <th scope="col">총상품금액</th>
            <th scope="col">취소</th>
            <th scope="col">주문상태</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td>
                <img th:src="@{${order.orderToProduct.product.image}}" alt="상품 이미지" class="img-fluid"
                     style="max-width: 100px; max-height: 100px;">
            </td>
            <td th:text="${order.orderToProduct.product.name}"></td>
            <td th:text="${order.orderList.userAddress.recipientName}"></td>
            <td th:text="${order.orderList.userAddress.streetAddress + order.orderList.userAddress.detailedAddress}"></td>
            <td th:text="${order.orderList.userAddress.phone}"></td>
            <td th:text="${order.orderToProduct.quantity}"></td>
            <td th:text="${order.orderToProduct.totalPrice}"></td>
            <td><!-- todo 취소 버튼 페이지 나눠서 처리하기 -->
                <form id="cancel-form" th:action="@{/order/cancel}" method="post">
                    <input type="hidden" name="orderId" th:value="${order.id}">
                    <input type="hidden" name="orderListId" th:value="${orderListId}">
                    <button type="button" class="btn btn-danger" id="cancel-button">취소</button>
                </form>
            </td>
            <td th:text="${order.orderToProduct.status}"></td>
        </tr>
        </tbody>
    </table>
    <div class="text-center">
        <button onclick="history.back()" class="btn btn-secondary">이전 페이지로 돌아가기</button>
    </div>
</div>
<div class="pagination-links">
    <a th:if="${page >= 1}"
       th:href="@{/order/view/detail/{orderListId}(orderListId=${order_list.id}, page=${page - 1})}">이전</a>

    <form th:action="@{/order/view/detail/{orderListId}(orderListId=${order_list.id})}">
        <input type="number" name="page" min="1" th:max="${total_page}" th:value="${page}"/>
        /<a th:text="${total_page}"></a>
        <button type="submit" style="width:60px;height:31px;border-style:none;border-radius:10px">이동</button>
    </form>

    <a th:if="${page < total_page}"
       th:href="@{/order/view/detail/{orderListId}(orderListId=${order_list.id}, page=${page + 1})}">다음</a>
</div>
<script th:src="@{/static/js/button.js}"></script>
</body>
</html>