<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>주문하기</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/order_create.css">

</head>
<body>
<div class="container">
    <h1 class="my-4">주문하기</h1>
    <form th:action="@{/order/create}" method="POST">
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <label for="productImage">상품 이미지:</label>
                    <img id="productImage" th:src="${product.image}" alt="상품 이미지" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <label for="productId">상품명: </label>
                    <input type="text" class="form-control" th:value="${product.name}" readonly>
                    <input type="hidden" id="productId" name="productId" th:value="${product.id}">
                    <div class="form-group">
                        <label for="quantity">주문 수량:</label>
                        <input type="number" class="form-control" id="quantity" name="quantity" th:value="${quantity}"
                               readonly>
                    </div>
                    <div class="form-group"
                         th:hx-get="@{'/coupon/apply-coupon-list/' + ${productId} + '/' + ${quantity}(price=${product.price})}"
                         hx-trigger="load">
                    </div>

                    <div class="form-group" hidden="hidden">
                        <label for="totalPrice">총 가격</label>
                        <input type="text" class="form-control" id="totalPrice" name="totalPrice"
                               th:value="${product.price * quantity}"
                               readonly>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <button type="submit" class="btn btn-primary mr-2">장바구니</button>
                        </div>
                        <div>
                            <a th:href="@{/product/detail/{id}(id=${productId})}"
                               class="btn btn-primary" style="white-space: nowrap;">취소</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.8.6"></script>
</body>
</html>
