<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>주문내역</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <style>
        th:first-child, td:first-child {
            width: 150px;
        }

        th:nth-child(3), td:nth-child(3) {
            width: 400px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>주문리스트</h1>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th scope="col">주문리스트 번호</th>
            <th scope="col">주문 날짜</th>
            <th scope="col">배송지</th>
            <th scope="col">주소 수정</th>
            <th scope="col">취소 여부</th>
            <th scope="col">결제 여부</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order_list : ${orderList}">
            <td>
                <a th:href="@{/order_list/view/detail/{orderListId}(orderListId=${order_list.id})}">
                    <span th:text="${order_list.id}"></span>
                </a>
            </td>
            <td th:text="${order_list.orderDate}"></td>
            <td th:text="${order_list.userAddress != null ? order_list.userAddress.streetAddress + ' ' + order_list.userAddress.detailedAddress : '주소 없음'}"></td>
            <td th:if="${order_list.status}">
                <form th:action="@{/order_list/update_address/{orderListId}(orderListId=${order_list.id})}"
                      method="get">
                    <button type="submit" class="btn btn-primary">수정하기</button>
                </form>
            </td>
            <td th:if="${not order_list.status}">
                <button type="button" class="btn btn-secondary btn-sm" disabled>수정 불가능</button>
            </td>
            <td th:if="${order_list.status}">
                <form th:action="@{/order_list/cancel/{orderListId}(orderListId=${order_list.id})}"
                      method="get">
                    <button type="submit" class="btn btn-primary">취소</button>
                </form>
            </td>
            <td th:if="${not order_list.status}">
                <button type="button" class="btn btn-secondary btn-sm" disabled>취소 완료</button>
            </td>
            <td th:if="${order_list.paymentsStatus}">
                <form th:action="@{/order/payment(orderListId=${order_list.id})}" method="get">
                    <button type="submit" class="btn btn-primary">결제하기</button>
                </form>
            </td>
            <td th:if="${not order_list.paymentsStatus}">
                <button type="button" class="btn btn-secondary btn-sm" disabled>결제 완료</button>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/main}" class="btn btn-primary float-right">메인으로</a>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
