<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>주문 상세보기</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <!-- jQuery library 추가 -->
    <link rel="stylesheet" href="/static/css/order_detail.css">
    <!-- 부트스트랩 링크 추가 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            crossorigin="anonymous"></script>

    <style>
        h1, h2 {
            text-align: center;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            text-align: center;
        }

        th, td {
            padding: 8px;
            border: 1px solid #ddd;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 class="text-center my-4"><b>주문 상세보기</b></h1>
    <table class="table table-striped table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">상품이미지</th>
            <th scope="col">상품명</th>
            <th scope="col">주문날짜</th>
            <th scope="col">수령인</th>
            <th scope="col">배송지</th>
            <th scope="col">전화번호</th>
            <th scope="col">구매개수</th>
            <th scope="col">총상품금액</th>
            <th scope="col">주문상태</th>
            <th scope="col">취소</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td>
                <img th:src="@{${order.orderToProduct.product.image}}" alt="상품 이미지" class="img-fluid"
                     style="max-width: 100px; max-height: 100px;">
            </td>
            <td th:text="${order.orderToProduct.product.name}"></td>
            <td th:text="${order.orderList.orderDate}"></td>
            <td th:if="${order.orderList.userAddress != null}"
                th:text="${order.orderList.userAddress.recipientName}"></td>
            <td th:if="${order.orderList.userAddress != null}"
                th:text="${order.orderList.userAddress.streetAddress + order.orderList.userAddress.detailedAddress}"></td>
            <td th:if="${order.orderList.userAddress != null}" th:text="${order.orderList.userAddress.phone}"></td>
            <td th:if="${order.orderList.userAddress == null}">No recipientName provided</td>
            <td th:if="${order.orderList.userAddress == null}">No address provided</td>
            <td th:if="${order.orderList.userAddress == null}">No phone provided</td>
            <td th:text="${order.orderToProduct.quantity}"></td>
            <td th:text="${order.orderToProduct.totalPrice}"></td>
            <td th:text="${order.orderToProduct.status}"></td>
            <td th:if="${order.orderToProduct.status}">
                <div th:if="${order.orderToProduct.status.isEquals('CANCELED')}">
                    <button type="button" class="btn btn-secondary btn-sm" disabled>취소 완료</button>
                </div>
                <div th:if="${not order.orderToProduct.status.isEquals('CANCELED')}">
                    <form th:action="@{/order/cancel/{orderId}/{orderListId}(orderId=${order.id}, orderListId=${orderListId})}"
                          method="get">
                        <button type="submit" class="btn btn-danger">취소</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-between">
        <div>
            <a th:href="@{/order_list/view/detail/{orderListId}(orderListId=${orderListId})}"
               class="btn btn-primary">이전으로</a>
        </div>
        <div>
            <form th:action="@{/order/payment}" method="get">
                <button type="submit" class="btn btn-primary">결제하기</button>
            </form>
        </div>
    </div>
</div>
<div class="pagination-links">
    <a th:if="${page >= 1}"
       th:href="@{/order/view/detail/{orderListId}(orderListId=${order_list.id}, page=${page - 1})}">이전</a>

    <form th:action="@{/order/view/detail/{orderListId}(orderListId=${order_list.id})}">
        <input type="number" name="page" min="1" th:max="${total_page}" th:value="${page}"/>
        /<a th:text="${total_page}"></a>
        <button type="submit" style="width:60px;height:31px;border-style:none;border-radius:10px">이동</button>
    </form>

    <a th:if="${page < total_page}"
       th:href="@{/order/view/detail/{orderListId}(orderListId=${order_list.id}, page=${page + 1})}">다음</a>
</div>
</body>
</html>