<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>배송지 수정</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>배송지 수정</h1>
    <form method="post" th:action="@{/order_list/update_address}">
        <div class="form-group">
            <label for="address">주소</label>
            <input type="hidden" id="orderListId" name="orderListId" th:value="${orderList.id}">
            <select class="form-control" id="address" name="userAddressId" required>
                <option value="" selected disabled
                        th:text="${orderList.userAddress != null ? orderList.userAddress.streetAddress + ' ' + orderList.userAddress.detailedAddress : '주소 없음'}">
                </option>
                <option th:each="address : ${user_address_list}" th:value="${address.id}"
                        th:text="${address.streetAddress+ ' ' + address.detailedAddress}"
                        <!-- todo orderList.userAddress null 일경우 처리 -->
                        th:if="${orderList.userAddress != null && address.id != orderList.userAddress.id}">
                </option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">저장</button>
        <button type="button" class="btn btn-primary" onclick="window.history.back()">취소</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
