<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Page</title>
    <link rel="stylesheet" href="/static/css/myPage.css">
    <!-- jQuery 라이브러리를 로드합니다. -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<header>
    <div id="logo">My Page</div>
    <nav>
        <a href="@{/logout}">로그아웃</a>
        <a href="/main">홈화면</a>
    </nav>
</header>
<div class="sidebar">
    <ul>
        <li th:classappend="${activeMenu == '내 정보' ? 'active' : ''}"><a href="/user/mypage/edit">내 정보</a></li>
        <li th:classappend="${activeMenu == '장바구니' ? 'active' : ''}"><a href="">장바구니</a></li>
        <li th:classappend="${activeMenu == '주문 내역' ? 'active' : ''}"><a href="/order_list/view">주문 내역</a></li>
        <li th:classappend="${activeMenu == '게시글' ? 'active' : ''}"><a href="/post/list">게시글</a></li>
        <li th:classappend="${activeMenu == '좋아요 목록' ? 'active' : ''}"><a href="">좋아요 목록</a></li>
        <li th:classappend="${activeMenu == '내 쿠폰' ? 'active' : ''}"><a href="/coupon/my-coupon">내 쿠폰</a></li>
    </ul>
</div>
<div class="main-content">

</div>
<script>
    $(document).ready(function() {
        $('.sidebar a').on('click', function(event) {
            event.preventDefault(); // 기본 동작 취소
            var pageUrl = $(this).attr('href');
            $('.main-content').load(pageUrl);
        });
    });
</script>
<footer>
<div class="row">
    <div class="col-6">
        <p>&copy; 2023 우리 회사명. All rights reserved.</p>
    </div>
    <div class="col-6">
        <nav class="text-right">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">이용약관</a></li>
                <li class="list-inline-item"><a href="#">개인정보 처리방침</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <nav class="text-center">
            <ul class="list-inline">
            </ul>
        </nav>
    </div>
</div>
</footer>

</body>
</html>