<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>주문 내역</title>
</head>
<body>
<h2>주문 내역</h2>
<table>
    <thead>
    <tr>
        <th>주문번호</th>
        <th>주문일자</th>
        <th>상품명</th>
        <th>상품가격</th>
        <th>수량</th>
        <th>주문금액</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}"></td>
        <td th:text="${#dates.format(order.orderDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td th:text="${order.item.name}"></td>
        <td th:text="${order.item.price}"></td>
        <td th:text="${order.quantity}"></td>
        <td th:text="${order.amount}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>