<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>회원가입</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div id="post_list">
  <div class="container col-md-4">
    <form action="/user/signup" method="post">
      <label>아이디 :</label>
      <input name="userId">
      <label>비밀번호 :</label>
      <input type="password" name="password">
      <label>이름 :</label>
      <input name="userName">
      <label>핸드폰 번호 :</label>
      <input type="tel" name="phoneNumber">
      <label>email :</label>
      <input type="email" name="email">
      <button type="submit">확인</button>
    </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
