<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


<iframe id="iframe1" name="iframe1" style="display:none"></iframe>

<form id="form" name="form" method="get" target="iframe1"
      th:hx-post="@{/coupon/apply-coupon-list/{price}/{quantity}(price=${param.price}, quantity=${quantity})}"
      hx-trigger="load, change"
      th:attr="hx-target=&#39;#price&#39; + ${productId}">
    <div class="form-group">
        <input type="hidden" name="salesCount" th:value="${quantity}">
        <label for="userCouponId">적용할 쿠폰:</label>
        <select class="form-control" id="userCouponId" name="userCouponId" onchange="this.form.submit()" required>
            <option value="0">사용 안함</option>
            <option th:each="item : ${list}" th:value="${item.id}"
                    th:text="${item.coupon.name}">
            </option>
        </select>
    </div>
</form>

<div th:id="'price' + ${productId}" class="form-group">
</div>

<script src="https://unpkg.com/htmx.org@1.8.6"></script>