<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-5">
    <h2>문의 게시판</h2>
    <div th:each="list:${postList}" class="card mt-3">
        <div class="card-body">
            <a th:href="@{/post/read/{postId}(postId=${list.getId()})}" th:text="${list.getTitle()}"
               class="card-title"></a>
            <div th:text="${list.getTime()}" class="card-text"></div>
            <div th:text="${list.getUser().getUserId()}" class="card-text"></div>
            <div th:text="${list.getPostCategory().getName()}" class="card-text"></div>
        </div>
    </div>
    <a th:href="@{/post/add}" class="btn btn-primary mt-3">게시글 작성</a>
</div>

<!-- jQuery 라이브러리를 로드합니다. -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
