<!DOCTYPE html>
<html lang="en" xmlns:tb="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
제목 :
<div th:text="${post.getTitle()}"></div>
유저 아이디 :
<div th:text="${post.getUser().getUserId()}"></div>
시간 :
<div th:text="${post.getTime()}"></div>
게시글의 종류:
<div th:text="${post.getPostCategory().getName()}"></div>
이미지 :
<img th:src="${post.getImagePath()}">
내용 :
<div th:text="${post.getContent()}"></div>

<a th:href="@{/post/delete(postId=${post.getId()})}">삭제</a>
<a th:href="@{/post/update(postId=${post.getId()})}">수정</a>
=========================================
게시글 리뷰
<a th:href="@{/post/read(reviewLink=true,postId=${post.getId()})}">리뷰 작성</a>
<div th:if="${reviewLink}">
    <form th:action="@{/post/review/add}" method="post" enctype="multipart/form-data">
        제목<input type="text" name="title">
        내용<input type="text" name="content">
        이미지<input type="file" name="file" accept="image/*">
        <input type="hidden" name="kinds" value="PostReview">
        <input type="hidden" name="kindsId" th:value="${post.getId()}">
        <input type="submit" value="작성">
    </form>
</div>
<div th:each="reviewList:${postReviewList}">
    제목 :
    <div th:text="${reviewList.getTitle()}"></div>
    유저 아이디:
    <div th:text="${reviewList.getUser().getUserId()}"></div>
    시간:
    <div th:text="${reviewList.getTime()}"></div>
    이미지:
    <img th:src="${reviewList.getImagePath()}">
    내용:
    <div th:text="${reviewList.getContent()}"></div>
    
    <!--    id result 값이 "Best" 일때-->
    <form th:action="@{/review/recommend}" method="post">
        <input type="hidden" name="baseReviewId" th:value="${reviewList.getId()}">
        <input type="hidden" name="trueOrFalse" th:value="CANCEL">
        <input type="submit" value="👍" style="background-color: blue">
    </form>
    <form th:action="@{/review/recommend}" method="post">
        <input type="hidden" name="baseReviewId" th:value="${reviewList.getId()}">
        <input type="hidden" name="trueOrFalse" th:value="WOREST">
        <input type="submit" value="👎">
    </form>
    <!--id result 값이 "Worst" 일때-->
    <form th:action="@{/review/recommend}" method="post">
        <input type="hidden" name="baseReviewId" th:value="${reviewList.getId()}">
        <input type="hidden" name="trueOrFalse" th:value="BEST">
        <input type="submit" value="👍">
    </form>
    <form th:action="@{/review/recommend}" method="post">
        <input type="hidden" name="baseReviewId" th:value="${reviewList.getId()}">
        <input type="hidden" name="trueOrFalse" th:value="CANCEL">
        <input type="submit" value="👎" style="background-color: red">
    </form>
    <!--    id result 값이 "Cancel" 일때-->
    <form th:action="@{/review/recommend}" method="post">
        <input type="hidden" name="baseReviewId" th:value="${reviewList.getId()}">
        <input type="hidden" name="trueOrFalse" th:value="BEST">
        <input type="submit" value="👍">
    </form>
    <form th:action="@{/review/recommend}" method="post">
        <input type="hidden" name="baseReviewId" th:value="${reviewList.getId()}">
        <input type="hidden" name="trueOrFalse" th:value="WORST">
        <input type="submit" value="👎">
    </form>

    <a th:href="@{/post/review/delete(baseReviewId=${reviewList.getId()},postId=${post.getId()})}">삭제</a>
    <a th:href="@{/post/review/update(baseReviewId=${reviewList.getId()})}">수정</a>
</div>
</body>
</html>