<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 부트스트랩 CSS 링크 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<div class="container mt-5">
    <form th:action="@{/post/update}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="category">문의 유형:</label>
            <select class="form-control" id="category" name="category"
                    th:value="${post.getPostCategory().getName()}">
                <option value="ProductInquiry">제품 문의</option>
                <option value="SHIPPING_INQUIRY">배송 문의</option>
                <option value="EXCHANGE_RETURN_INQUIRY">교환 및 반품 문의</option>
                <option value="PAYMENT_INQUIRY">결제 문의</option>
                <option value="DISCOUNT_COUPON_INQUIRY">할인쿠폰 문의</option>
                <option value="ETC_INQUIRY">기타 문의</option>
            </select>
        </div>
        <div class="form-group">
            <label for="title">제목:</label>
            <input type="text" class="form-control" id="title" name="title" th:value="${post.getTitle()}">
        </div>
        <div class="form-group">
            <label for="content">내용:</label>
            <input type="text" class="form-control" id="content" name="content"
                   th:value="${post.getContent()}">
        </div>
        <div class="form-group">
            <label for="file">이미지:</label>
            <input type="file" class="form-control-file" id="file" name="file" accept="image/*">
        </div>
        <input type="hidden" name="postId" th:value="${post.getId()}">
        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</div>
<!-- 부트스트랩 JavaScript 링크 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
