<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Product User Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/productUserDetail.css">
</head>

<body>

<div class="container">
    <div class="image">
        <img th:src="${productDetail.image}" alt="Product Image" style="width: 311px;">
    </div>

    <div class="product-info">
        <table>
            <tr>
                <th>이름</th>
                <td th:text="${productDetail.name}"></td>
            </tr>
            <tr>
                <th>가격</th>
                <!--  <td th:text="${productDetail.get().getPrice()}"></td> -->
                <td><span th:text="${#numbers.formatInteger(productDetail.price, 3, 'COMMA')}"></span> 원</td>
            </tr>
            <tr>
                <th>설명</th>
                <td th:text="${productDetail.description}"></td>
            </tr>
            <tr>
                <th>재고</th>
                <td th:text="${productDetail.stock}"></td>
            </tr>

        </table>

        <form th:action="@{/order/create/{productId}(productId=${productId})}">
            수량 :&nbsp;&nbsp;<input type="number" name="salesCount" min="1" max="100"
                                   style="width: 35px;height: 35px; border-radius: 9px; border-style: double" value="1">
            <button type="submit">구매하기</button>
        </form>

        <div>
            <a th:href="@{/main}"
               class="btn btn-primary" style="white-space: nowrap;">메인으로</a>
        </div>

        <form th:action="@{/update/like}">
            <input type="hidden" name="productId" th:value="${productId}">
            <button type="submit">
                <span th:if="${isLiked}">❤️</span>
                <span th:if="${!isLiked}">🖤</span>
            </button>
        </form>

    </div>
</div>
<!--여기는 리뷰 리스트-->
<div style="display: flex; justify-content: center;">
    <table style="margin-right: 100px; margin-left: 100px; width: 70%; ">
        <tr>
            <th style="width: 15%; text-align: center">제목</th>
            <th style="width: 25%; text-align: center">내용</th>
            <th style="width: 20%; text-align: center">사진</th>
            <th style="width: 5%; text-align: center">유저</th>
            <th style="width: 10%; text-align: center">시간</th>
            <th style="width: 10%; text-align: center">삭제/수정</th>
            <th style="width: 15%; text-align: center">추천</th>
        </tr>
        <tr th:each="productReview:${productReviewList}">
            <td th:text="${productReview.getTitle()}"></td>
            <td th:text="${productReview.getContent()}"></td>
            <td><img style="width: 100px;height: 100px" th:src="${productReview.getImagePath()}"></td>
            <td th:text="${productReview.getUser().getUserId()}"></td>
            <td th:text="${productReview.getTime()}" style="font-size: 12px;"></td>
            <td style="text-align: center;">
                <form th:action="@{/product/review/delete}">
                <input type="hidden" name="reviewId" th:value="${productReview.id}">
                <button type="submit">삭제</button>
                </form>
                <form th:action="@{/product/review/update}">
                <input type="hidden" name="reviewId" th:value="${productReview.id}">
                <button type="submit">수정</button>
                </form>
            </td>

            <!--여기는 recommend html 받아옴-->
            <ul id="recommendInfo"
                th:hx-get="@{/product/detail/{productId}/{reviewId}(productId=${productDetail.id}, reviewId=${productReview.getId()})}"
                hx-trigger="load"
                th:attr="hx-target=&#39;#recommend&#39; + ${productReview.getId()}"
                style="display: none">
                <td id="recommend" th:id="'recommend' + ${productReview.getId()}">
                </td>
            </ul>
        </tr>
    </table>
</div>
<div class="pagination">
    <div th:if="${startPage != 1}">
        <a th:href="@{/product/detail/{productId}(productId=${productDetail.id},page=${startPage - limitPage})}">
            이전
        </a>
    </div>
    <div th:each="page:${#numbers.sequence(startPage, endPage)}">
        <span th:if="${page} == ${productReviewList.getNumber() + 1}">
            <span th:text="${page}">페이지</span>
        </span>
        <a th:if="${page != productReviewList.getNumber() + 1 && page <= productReviewList.getTotalPages()}"
           th:href="@{/product/detail/{productId}(productId=${productDetail.id},page=${page})}">
            <span th:text="${page}">페이지</span>
        </a>
    </div>
    <div th:if="${endPage < productReviewList.totalPages}">
        <a th:href="@{/product/detail/{productId}(productId=${productDetail.id},page=${startPage + limitPage})}">
            다음
        </a>
    </div>
</div>
<script src="https://unpkg.com/htmx.org@1.8.6"></script>
</body>

</html>