<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>Product User Detail</title>
    <link rel="stylesheet" href="/static/css/productUserDetail.css">

</head>

<body>

<div class="container">
    <div class="image">
        <img th:src="${productDetail.get().getImage()}" alt="Product Image">
    </div>

    <div class="product-info">
        <table>
            <tr>
                <th>이름</th>
                <td th:text="${productDetail.get().getName()}"></td>
            </tr>
            <tr>
                <th>가격</th>
                <!--  <td th:text="${productDetail.get().getPrice()}"></td> -->
                <td><span th:text="${#numbers.formatInteger(productDetail.get().getPrice(), 3, 'COMMA')}"></span> 원</td>
            </tr>
            <tr>
                <th>설명</th>
                <td th:text="${productDetail.get().getDescription()}"></td>
            </tr>
            <tr>
                <th>재고</th>
                <td th:text="${productDetail.get().getStock()}"></td>
            </tr>

        </table>


        <form>
            <input type="hidden" name="productId" th:value="${productId}">
            수량 :&nbsp;&nbsp;<input type="number" name="salesCount" min="1" max="100"
                                   style="width: 35px;height: 35px; border-radius: 9px; border-style: double" value="1">
            <button type="submit">구매하기</button>
        </form>

        <form th:action="@{/update/like}">
            <input type="hidden" name="productId" th:value="${productId}">
            <button type="submit">
                <span th:if="${isLiked}">❤️</span>
                <span th:if="${!isLiked}">🖤</span>
            </button>
        </form>


        <table>
            <tr>
                <th>제목</th>
                <th>내용</th>
                <th>사진</th>
                <th>유저</th>
                <th>시간</th>
                <a th:href="@{/product/review/add(productId=${productDetail.get().getId()})}">작성</a>
            </tr>
            <tr th:each="productReview:${productReviewList}">
                <td th:text="${productReview.getTitle()}"></td>
                <td th:text="${productReview.getContent()}"></td>
                <td><img th:src="${productReview.getImagePath()}"></td>
                <td th:text="${productReview.getUser().getUserId()}"></td>
                <td th:text="${productReview.getTime()}"></td>
                <td>
                    <a th:href="@{/product/review/delete(reviewId=${productReview.getId()})}">삭제</a>
                    <a th:href="@{/product/review/update(reviewId=${productReview.getId()})}">수정</a>
                </td>
            </tr>
        </table>

        <div class="pagination">
            <div th:if="${startPage != 1}">
                <a th:href="@{/product/detail/{productId}(productId=${productDetail.get().getId()},page=${startPage - limitPage})}">
                    이전
                </a>
            </div>
            <div th:each="page:${#numbers.sequence(startPage, endPage)}">
        <span th:if="${page} == ${productReviewList.getNumber() + 1}">
            <span th:text="${page}">페이지</span>
        </span>
                <a th:if="${page != productReviewList.getNumber() + 1 && page <= productReviewList.getTotalPages()}"
                   th:href="@{/product/detail/{productId}(productId=${productDetail.get().getId()},page=${page})}">
                    <span th:text="${page}">페이지</span>
                </a>
            </div>
            <div th:if="${endPage < productReviewList.totalPages}">
                <a th:href="@{/product/detail/{productId}(productId=${productDetail.get().getId()},page=${startPage + limitPage})}">
                    다음
                </a>
            </div>
        </div>

    </div>
</div>

</body>

</html>