<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form action="/product/registration" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <th>글쓰기</th>
        </tr>
        <tr>
            <td>이름 : <input name="name"></td>
            <td> 이미지 :<input type="file" name="file" accept="image/*"></td>
            <td> 상세 설명 :<input name="description"></td>
            <td> 재고 :<input name="stock"></td>
            <td> 가격 :<input name="price"></td>
            <td> 판매량 :<input name="salesCount"></td>
            <td>
                <label for="categoryDto">카테고리:</label>
                <select id="categoryDto" name="categoryDto">
                    <option value="TOP">상의</option>
                    <option value="BOTTOM">하의</option>
                    <option value="SHOES">신발</option>
                </select>
            </td>
            <button type="submit">확인</button>
        </tr>
        <tr>
            <td>
                <button>likeCount</button>
            </td>
        </tr>

    </table>
</form>

</body>
</html>