.container {
    margin-top: 50px;
}

.form-group label {
    font-weight: bold;
}

.form-check-label {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}

.form-check-input {
    margin-right: 5px;
    vertical-align: middle;
}

.btn {
    margin-right: 10px;
}