.product {
    display: flex;
    align-items: center;
}

.price-wrapper {
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.original-price {
    text-decoration: line-through;
    margin-right: 10px;
    color: gray;
}

.discounted-price {
    font-weight: bold;
    font-size: 1.5em;
    color: #f5a623;
}

.discount {
    margin-left: 10px;
    color: green;
    font-weight: bold;
}