.container {
    display: flex;
    margin: 20px;
    gap: 20px; /* Use gap property to add spacing between elements */
}
.image {
    flex-basis: 50%;
    max-width: 300px;
}

.product-info {
    width: 100%;
}

/* Update table style */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    width: 20%;
    background-color: #f0f0f0;
    font-weight: bold;
}

/* Update form style */
form {
    margin-bottom: 10px;
}

input[type="number"] {
    width: 35px;
    height: 35px;
    border-radius: 9px;
    border-style: double;
}

button[type="submit"] {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

/* Update pagination style */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination a,
.pagination span {
    padding: 5px 10px;
    margin: 0 5px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.pagination a:hover {
    background-color: #0056b3;
}