.container {
    display: flex;
    margin: 20px;
}

.image {
    margin-right: 20px;
    flex-basis: 50%;
    max-width: 600px;
}

img {
    max-width: 100%;
    height: auto;
}

.product-info {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th,
td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

th {
    width: 20%;
    background-color: #eee;
}


form {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}

button {
    margin-right: 10px;
}


form button {
    padding: 10px;
    background-color: #cfd9da;
    color: #281111;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px;
}

form button:hover {
    background-color: #3e8e41;
}

form span {
    font-size: 20px;
    cursor: pointer;
}

form span:hover {
    transform: scale(1.2);
}

.pagination {
    text-align: center;
    margin-top: 10px;
}

.pagination a,
.pagination span {
    display: inline-block;
    padding: 5px 10px;
    color: #337ab7;
    text-decoration: none;
    cursor: pointer;
}

.pagination a:hover {
    color: #23527c;
}

.pagination span {
    color: #777;
}

.pagination div {
    display: inline-block;
    margin-right: 5px;
}
