body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    width: 90%; /* 조정할 너비를 입력하세요. */
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

label {
    font-weight: bold;
}

input {
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    text-align: center;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: #4dabf5;
    box-shadow: 0 0 0 0.2rem rgba(77, 171, 245, 0.25);
}

.invalid-feedback {
    display: none;
    font-size: 0.875rem;
    color: #dc3545;
}

.invalid-feedback.show-feedback {
    display: block;
}

.error-message {
    color: #f00;
    font-size: 14px;
    padding-top: 0;
    padding-bottom: 5px;
    margin: 0;
}

button[type="submit"] {
    font-size: 1.25rem;
    padding: 0.75rem;
    border-radius: 0.25rem;
    background-color: #4dabf5;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #3689cf;
}

.col-md-12 , .order-md-1 {
    padding: 10px;
}