<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sellerIndex</title>
</head>
<body>
<a href="/seller/login-form">로그인</a>
<a href="/shop/join">샵등록</a>
<a href="/shop/list">샵리스트</a>
<a href="/seller/update">회원정보 수정</a>

<form th:action="@{/seller/delete}" target="popup" onsubmit="window.open('about:blank','popup','width=800,height=600, top=50%, left=50%, margin-top=-300px, margin-left=-400px')">
    <button type="submit">회원탈퇴</button>
</form>
</body>


<script>
    window.opener.location.href = '/shop/list';
    window.close();
</script>


</html>