<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Seller Login Form</title>
    <link rel="stylesheet" href="/static/css/sellerLogin.css">
</head>
<body>
<form action="/seller/login-form" method="post" id="login-form">
    <label>아이디 :</label>
    <input name="ownerId">
    <label>비밀번호 :</label>
    <input type="password" name="password">
    <div class="button-container">
        <button id="submit-btn" type="submit">확인</button>
        <button type="button" onclick="back()">취소</button>
    </div>
</form>
</body>


<script>
    function back(){
        history.back();
    }


</script>
</html>