<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>유저 주소록</title>
  <!-- 부트스트랩 CSS 추가 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h2>유저 주소록</h2>
  <a class="btn btn-primary" th:href="@{/user/address/add}"
     onclick="window.open(this.href, 'addAddressPopup', 'width=500,height=600'); return false;">
    추가하기
  </a>
  <table class="table">
    <thead>
    <tr>
      <th>주소 저장 이름</th>
      <th>받는이 이름</th>
      <th>받는이 번호</th>
      <th>큰 주소</th>
      <th>상세 주소</th>
      <th>우편 번호</th>
    </tr>
    </thead>
    <tbody>
    <!-- 주소 리스트 출력 -->
    <tr th:each="address : ${list}">
      <td th:text="${address.getName()}"></td>
      <td th:text="${address.getRecipientName()}"></td>
      <td th:text="${address.getPhone()}"></td>
      <td th:text="${address.getStreetAddress()}"></td>
      <td th:text="${address.getDetailedAddress()}"></td>
      <td th:text="${address.getZipCode()}"></td>
      <td><a th:href="@{/user/address/update(id=${address.getId()})}">수정</a></td>
      <td>
        <form th:action="@{/user/address/list(id=${address.getId()})}" th:method="delete">
          <button type="submit">삭제</button>
        </form>
    </tr>
    </tbody>
  </table>
</div>

<!-- jQuery 라이브러리를 로드합니다. -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>
</html>